<?php
use PhpCsFixer\Fixer\Import\OrderedImportsFixer;

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
;

return PhpCsFixer\Config::create()
    ->setUsingCache(true)
    ->setRules([
        '@PSR2'                      => true,
        '@Symfony'                   => true,
        '@Symfony:risky'             => true,
        '@DoctrineAnnotation'        => true,
        'declare_strict_types'       => true,
        'concat_space'               => ['spacing' => 'one'],
        'array_syntax'               => ['syntax' => 'short'],
        'list_syntax'                => ['syntax' => 'short'],
        'phpdoc_align'               => ['align' => 'left'],
        'phpdoc_no_empty_return'     => false,
        'no_superfluous_phpdoc_tags' => true,
        'phpdoc_summary'             => false,
        'ordered_imports'            => [
            'sortAlgorithm' => OrderedImportsFixer::SORT_ALPHA,
            'importsOrder'  => [
                OrderedImportsFixer::IMPORT_TYPE_CONST,
                OrderedImportsFixer::IMPORT_TYPE_FUNCTION,
                OrderedImportsFixer::IMPORT_TYPE_CLASS,
            ],
        ],
        'class_definition'           => ['multiLineExtendsEachSingleLine' => true],
        'ternary_to_null_coalescing' => true,
        'yoda_style'                 => true,
        'compact_nullable_typehint'  => true,
        'visibility_required'        => true,
    ])
    ->setRiskyAllowed(true)
    ->setFinder($finder)
;
