<?xml version="1.0" encoding="UTF-8" ?>

<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        http://symfony.com/schema/routing/routing-1.0.xsd">

    <route id="oauth2_authorize" path="/authorize" controller="Trikoder\Bundle\OAuth2Bundle\Controller\AuthorizationController::indexAction" methods="GET" />
    <route id="oauth2_token" path="/token" controller="Trikoder\Bundle\OAuth2Bundle\Controller\TokenController::indexAction" methods="POST" />
</routes>
